<?xml version="1.0" ?>
<!--
/**
* Marc Watts
* Copyright (c) 2022 Marc Watts <marc@marcwatts.com.au>
*
* @author Marc Watts <marc@marcwatts.com.au>
* @copyright Copyright (c) Marc Watts (https://marcwatts.com.au/)
* @license Proprietary https://marcwatts.com.au/terms-and-conditions.html
* @package Marcwatts_Index
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::system">
					<resource id="Magento_Backend::tools">
						<resource id="Magento_Indexer::index">
							<resource id="Marcwatts_Index::configuration" sortOrder="50" title="Marcwatts Reindex" />
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>